{% block chart %}

  <canvas class="border rounded shadow-sm" id="observer"></canvas>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label class="ps-2" for="date-start">От</label>
        <input class="form-control" id="date-start" type="date" max="" min="" value="">
      </div>
      <div class="col">
        <label class="ps-2" for="date-end">До</label>
        <input class="form-control" id="date-end" type="date" max="" min="" value="">
      </div>
      <div class="col">
        <label class="ps-2" for="date-end">один день</label>
        <input class="form-control" id="date-end" type="date" max="" min="" value="">
      </div>
    </div>
  </div>
{% endblock %}