<div :id="'evaluatingSection'+id"
     class="collapse" :class="isShownEvaluating && 'show'"
     x-data="{
         criteria_opinion: evaluation_solution_problem.criteria_opinion
        }">
  <div class="mb-4">
    {% include 'components/subTitle.html'
      with
      title="Оценка решений"
      tooltip="У нас есть какое-то количество возможных решений. Нужно теперь выбрать. Для этого составляем критерии и примерно представляем себе треки для топовых вариантов (ведь надо выбирать с учётом трека/затрат). Оцениваем и выбираем по критериям!"
      only
    %}
    <ul class="list-group shadow-sm">
      <li class="list-group-item d-flex justify-content-between">
        <span class="lead text-secondary">Шаги</span>
        <div class="btn-group dropup">
          <button type="button"
                  class="btn btn-outline-secondary dropdown-toggle"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  data-bs-toggle="dropdown">
            <span class="lead">Выбор варианта</span>
          </button>
          <ul class="dropdown-menu">
            <template x-for="(solution, index) in solutions">
              <li class="dropdown-item cursor-pointer"
                  :class="solution.settings?.dropActiv && 'text-bg-secondary'"
                  x-ref="solDropItem"
                  @click="changeSettingsSolution(solution, 'dropActiv')"
                  x-text="solution.title"></li>
            </template>
          </ul>
        </div>
      </li>
      <template x-for="(solution, index) in solutions">
        <template x-if="solution.settings?.dropActiv">
          <li x-data="{newStep: ''}"
              class="list-group-item">
            <ul class="list-group list-group-numbered list-group-flush ">
              <span class="fw-bold" x-text="solution.title"></span>
              <template x-for="(step, indexStep) in solution.steps">
                <li class="list-group-item d-flex align-items-center gap-1 gap-sm-3 p-0 pb-1 border-0">
                  <input class="form-control form-control-plaintext cursor-pointer p-0"
                         x-model="solution.steps[indexStep]"
                         @change="solutionUpdate(solution)">
                  <button type="button" class="btn-close" aria-label="Close"
                          @click="deleteStepSolution(solution, indexStep)"></button>
                </li>
              </template>
              <li class="list-group-item d-flex align-items-center gap-1 gap-sm-3 p-0">
                <input class="form-control form-control-plaintext cursor-pointer"
                       x-model="newStep"
                       x-ref="newStepRef"
                       placeholder="?"
                       @change="addStepSolution(newStep, solution, $refs.newStepRef)">
              </li>
            </ul>
          </li>
        </template>
      </template>
    </ul>
    <div class="form-text"
         x-show="showTooltip"
         x-transition>Представьте какие шаги нужно совершить в реалистичных вариантах.
    </div>
  </div>
  <div class="mb-4">
    {% include 'components/subTitle.html'
      with
      title='Количественная оценка вариантов'
      tooltip='Я оцениваю решения по важным для меня критериям, даже если оценивать количественно такие вещи для меня непривычно. Я могу изобрести прокси-параметры для оценки сложнооценимых вещей. Если я встречаю неполноту списка критериев, я могу его дополнить и переделать оценку'
      class='mb-2'
      only
    %}
    <div class="table-responsive border rounded-3 shadow-sm">
      <table class="table table-striped table-hover "
             x-data="{newCrit: {title: null, weight: 10, problem_id: id}}">
        <thead>
        <tr>
          <th scope="col" class="lead border-end">
            <div class="btn-group dropend">
              <button type="button"
                      class="btn dropdown-toggle"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      data-bs-toggle="dropdown">
                <span class="lead">Выбор варианта</span>
              </button>
              <ul class="dropdown-menu">
                <template x-for="(solution, index) in solutions">
                  <li class="dropdown-item cursor-pointer d-flex justify-content-between"
                      :class="solution.settings?.tableActiv && 'text-bg-secondary'"
                      x-ref="solDropItem"
                      @click="changeSettingsSolution(solution, 'tableActiv')">
                    <span x-text="solution.title"></span>
                    <template x-if="solution.steps.length">
                      <span class="badge bg-secondary rounded-pill"
                            x-text="solution.steps.length"></span>
                    </template>
                  </li>
                </template>
              </ul>
            </div>
          </th>
          <template x-for="critery in criterion">
            <th scope="col" style="min-width: 70px;">
              <input class="form-control form-control-plaintext cursor-pointer"
                     x-model="critery.title"
                     @change="criteryUpdate(critery)">
            </th>
          </template>
          <th scope="col" class="lead border-start">Итог</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(solution, index) in solutions">
          <template x-if="solution.settings?.tableActiv">
            <tr>
              <th scope="row"
                  class="cell-text border-end"
                  x-text="solution.title">
              </th>
              <template x-for="critery in criterion">
                <td>
                  <input class="form-control form-control-plaintext cursor-pointer"
                         type="number"
                         x-model="solution.weight_critery[critery.id]"
                         @change="solutionUpdate(solution)">
                </td>
              </template>
              <td class="border-start"
                  x-model="solution.weight_critery"
                  x-text="getSumm(solution, criterion)"></td>
            </tr>
          </template>
        </template>

        <tr>
          <th class="lead border-end">
            <button type="button" class="btn">
              <span class="lead">
                Вес критерия &rarr;
              </span>
            </button>
          </th>
          <template x-for="critery in criterion">
            <td>
              <input class="form-control form-control-plaintext cursor-pointer"
                     type="number"
                     x-model="critery.weight"
                     @change="criteryUpdate(critery)">
            </td>
          </template>
          <td class="border-start">
            <input class="form-control form-control-plaintext cursor-pointer"
                   placeholder="Новый критерий"
                   x-ref="newCritRef"
                   @change="newCritery(newCrit, criterion, $refs.newCritRef)"
                   x-model="newCrit.title">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="form-text"
     x-show="$store.problem.showTooltip"
     x-transition>Первая колонка это варианты решения. Последующие колонки это критерии оценки решения.
        Последняя колонка это итог оценки решения.
    </div>
  </div>
    {% include 'components/textarea.html'
      with
      model="criteria_opinion"
      id="'criteria_opinion-'"
      change="$store.problem.problemUpdate(id, {evaluation_solution_problem: {criteria_opinion}})"
      label="Корректировка критериев"
      tooltip="Я итеративно показываю критерии для оценки решения всем заинтересованным лицам и собираю их мнения. Я учитываю свое мнение. Я ищу полное и изящное решение проблемы."
      only
    %}
</div>