<div :id="'searchSection'+id"
     class="collapse" :class="isShownSearch && 'show'"
     x-data="{
         importance: search_problem.importance,
         skill: search_problem.skill,
         description: search_problem.description,
         reasoning: search_problem.reasoning
       }">
    <h6 class="mb-3">
      <a class="link-secondary text-decoration-none cursor-pointer"
         data-bs-toggle="tooltip"
         data-bs-trigger="hover"
         data-bs-delay='{"show": 500, "hide": 100 }'
         data-bs-custom-class="tooltip-header"
         data-bs-title="Когда мы замечаем дискомфорт мы можем начать рассматривать его источник
               как проблему. Тут мы получаем первую версию описания проблемы и принимаем решение будем
                ли мы этой проблемой заниматься.">Стратегирование и поиск проблемы</a>
    </h6>

  <div class="d-flex justify-content-center">
    <div class="mb-4">
      <input type="text"
             x-model="title"
             :size="title.length < 10 ? 10 : title.length + 2"
             class="form-control form-control-plaintext form-control-lg cursor-pointer"
             id="problem-titile"
             @change="problemUpdate(id, {title})"
             placeholder="Название проблемы">
      <div class="form-text"
           x-show="showTooltip"
           x-transition>Придумайте имя для вашей проблемы.
      </div>
    </div>
  </div>

  <div class="row row-cols-2 pb-4">
    <div class="col text-center">
      <p class="h4" x-text="importance"></p>
      <div class="d-flex gap-3">
        <label :for="'importance-'+id"
               class="form-label opacity-50">Важность</label>
        <input x-model="importance"
               @change="problemUpdate(id, {search_problem: {importance}})"
               type="range"
               class="form-range"
               min="0"
               max="10"
               :id="'importance-'+id">
      </div>
      <div class="form-text"
           x-show="showTooltip"
           x-transition>Насколько это проблема важна для вас?
      </div>
    </div>
    <div class="col text-center">
      <p class="h4" x-text="skill"></p>
      <div class="d-flex gap-3">
        <label :for="'skill-'+id"
               class="form-label opacity-50">Ресурсы</label>
        <input x-model="skill"
               @change="problemUpdate(id, {search_problem: {skill}})"
               type="range"
               class="form-range"
               min="0"
               max="10"
               :id="'skill-'+id">
      </div>
      <div class="form-text"
           x-show="showTooltip"
           x-transition>Какого отношение ваших сил и ресурсов к сложности
        проблемы?
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col mb-4 ">
      <div class="form-floating border rounded shadow-sm">
        <textarea class="form-control form-control-plaintext cursor-pointer"
                  x-model="description"
                  @change="problemUpdate(id, {search_problem: {description}})"
                  @input="setHeightTextarea($el)"
                  :id="'search-problem-description-' + id"
        ></textarea>
        <label for="floatingTextarea">Описание проблемы</label>
      </div>
      <div class="form-text"
           x-show="showTooltip"
           x-transition>Описать то что дискомфортно, понять что не устраивает в
        этом мире. Или понять что не устраивает других людей, если их проблема это ваша проблема,
        выяснить что приносит им дискомфорт.
      </div>
    </div>
    <div class="col mb-3">
      <div class="form-floating border rounded shadow-sm">
      <textarea class="form-control form-control-plaintext cursor-pointer "
                x-model="reasoning"
                @change="$store.problem.problemUpdate(id, {search_problem: {reasoning}})"
                @input="$store.problem.setHeightTextarea($el)"
                :id="'search-problem-reasoning-' + id"
      ></textarea>
        <label for="floatingTextarea">Почему это точно ваша проблема?</label>
      </div>
      <div class="form-text"
           x-show="$store.problem.showTooltip"
           x-transition>Почему вы хотите решить эту проблему?
      </div>
    </div>
  </div>
</div>